/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */
.label-inline {
    margin-right: 10px;
}
.small-input, 
.form-field input[type="text"] {
    width: 100px;
}
.form-table #price-table td {
    padding-top: 2px;
    padding-bottom: 2px;
}
.table-border {
    /*border-bottom: 1px solid silver;*/
}
.table-border td {
    border-bottom: 1px solid silver;
}
.overvies-table td {
    padding-right: 20px;
}
.remove-row {
    font-weight: bold;
    color: white;
    background-color: #e40000;
    border-radius: 50%;    
}

.inline-label {
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;  
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 2px 3px;
    margin: 3px;
    float: left;
}
h4 {
    margin-bottom: 0.5em;
}