/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */
.label-inline {
    margin-right: 10px;
}
.small-input,
.form-field input[type="text"] {
    width: 100px;
}
.form-table #price-table td {
    padding-top: 2px;
    padding-bottom: 2px;
}
.day-price {
    width: 70px;
    text-align: right;
}
.table-border {
    /*border-bottom: 1px solid silver;*/
}
.table-border td {
    border-bottom: 1px solid silver;
}
.overvies-table td {
    padding-right: 20px;
}
.remove-row {
    padding: 6px 15px;
    font-size: 14px;
    line-height: 100%;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    color: #fff;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.1s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    -ms-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #f06060;
    box-shadow: 0px 3px 0px 0px #cd1313;
    border:none;
}
.remove-row:hover {
    background-color: #ed4444;
} 
.cal_prew, .cal_next
{
    
} 
.cal_prew:hover, .cal_next:hover
{
 
} 
.inline-label {
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 2px 3px;
    margin: 3px;
    float: left;
}
h4 {
    margin-bottom: 0.5em;
}
.s2c-row td,
.s2c-row th {
    background: #f5f5f5;
}
.new-edit-s2c {
    background: #f5f5f5;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
table.SimpleCalendar {
    font-family: Arial;
    border-collapse: collapse; }
table.SimpleCalendar th {
    background: #727272;
    color: #fff;
    font-size: 11px;
    padding: 3px;
    border: 1px solid #B6B6B6;
    border-top: none; }
table.SimpleCalendar tbody td {
    vertical-align: top;
    width: 60px;
    height: 60px;
    border: 1px solid #bbb;
    background: #e6e6e6; }
table.SimpleCalendar tbody td time {
    font-size: .7em;
    display: block;
    background: white;
    padding: 2px;
    text-align: right;
    font-weight: bold; }
table.SimpleCalendar tbody td.SCsuffix, table.SimpleCalendar tbody td.SCprefix {
    background: white; }
table.SimpleCalendar tbody td div.event {
    font-size: .8em;
    line-height: 1em;
    color: #fff; }
table.SimpleCalendar tbody td div.event span.unavailable {
    background: #E91E63;
    border: 1px solid #C2185B;
    display:block;
    height: 40px;
    padding: 5px; 
}
table.SimpleCalendar tbody td div.event span.booked { 
    background: #8BC34A;
    border: 1px solid #689F38;
    display:block;
    height: 40px;
    padding: 5px;
}
table.SimpleCalendar tbody td div.event span.rented { 
    background: #00BCD4;
    border: 1px solid #0097A7;
    display:block;
    height: 40px;
    padding: 5px;
} 
table.SimpleCalendar tbody td.today {
    background: #d2d2d2; } 
.menu-icon-sc-location
{ 
  border-top: 1px solid #E4F1FE;
}
/*.menu-icon-generic*/
#toplevel_page_car_share
{   
  border-bottom: 1px solid #E4F1FE !important;  
} 
.dashicons-location:before, .dashicons-calendar-alt:before, .dashicons-category:before, .dashicons-performance:before, .dashicons-smiley:before, .dashicons-nametag:before, .dashicons-cart:before, .dashicons-admin-generic:before
{ 
    /*color:#E4F1FE!important;*/   
} 
.delete-car, .clone-car, .new-car, .save-season-2-category{ 
    display:inline!important;    
}   



/* reservation styles */
.sc-reservation {
    margin-top: 35px;
    width: 1190px;
    position: relative;
}

.sc-reservation .overview {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);     
    z-index: 500;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;    
}
.sc-reservation .overview .loader {
    position: absolute;
    left: 50%;
    top: 50%;
}
.sc-reservation .overview .loader {
    position: absolute;
    left: 50%;
    top: 50%;
}

.sc-reservation .sc-navigation {
    position: relative;
    font-size: 35px;
    height: 35px;
}
.sc-reservation .sc-navigation a {
    text-decoration: none;
    position: absolute;
}
.sc-reservation .sc-navigation a.sc-prev {
    right: 862px;
}
.sc-reservation .sc-navigation a.sc-next {
    right: 18px;
}

.sc-reservation .sc-months .sc-month:first-child {
    border-right: 4px solid black;
}

.sc-reservation .day,
.sc-reservation .sc-month-label,
.sc-reservation .car-label,
.sc-reservation .car-cell, 
.sc-reservation .sc-month-label, 
.sc-reservation .car {
    height: 18px;
    overflow: hidden;
}
.sc-reservation .car-label {
    padding-left: 5px; 
    padding-right: 5px;
    width: 300px;
    background: white;
}
.sc-reservation .car-label,
.sc-reservation .day-cell {
    border-left: 1px solid black; 
    border-bottom: 1px solid black;    
}
.sc-reservation .car-list {
    margin-top: 73px;
}
.sc-reservation .car-list .car-label:first-child {
    border-top: 1px solid black;    
}

.sc-reservation .day-cell {
    width: 13px;
}


.sc-reservation .car.rented {
    background: #ff0000;
}
.sc-reservation .car.booked {
    background: #ffff00;
}
.sc-reservation .car.unavailable {
    background: #000000;
}
.sc-reservation .car.free {
    background: #40e52a;
}
.sc-reservation .sc-month,
.sc-reservation .car-col {
    float: left;    
}
.sc-reservation .sc-month {
    border-right: 1px solid black;
    background: #f0ebd8;
}
.sc-reservation .day {
    background: #d8e7f0;
}
.sc-reservation .state-col {
    
}

.sc-reservation .sc-month-label {    
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
}
.sc-reservation .sc-month-label,
.sc-reservation .day {
    text-align: center;
}
.sc-reservation .day {
    font-size: 11px;
}



/* ajax loader animation */
#fountainG{
position:relative;
width:80px;
height:10px}

.fountainG{
position:absolute;
top:0;
background-color:#FFFFFF;
width:10px;
height:10px;
-moz-animation-name:bounce_fountainG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:normal;
-moz-transform:scale(.3);
-moz-border-radius:7px;
-webkit-animation-name:bounce_fountainG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:normal;
-webkit-transform:scale(.3);
-webkit-border-radius:7px;
-ms-animation-name:bounce_fountainG;
-ms-animation-duration:1.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:normal;
-ms-transform:scale(.3);
-ms-border-radius:7px;
-o-animation-name:bounce_fountainG;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-direction:normal;
-o-transform:scale(.3);
-o-border-radius:7px;
animation-name:bounce_fountainG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-direction:normal;
transform:scale(.3);
border-radius:7px;
}

#fountainG_1{
left:0;
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
-o-animation-delay:0.52s;
animation-delay:0.52s;
}

#fountainG_2{
left:10px;
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-ms-animation-delay:0.65s;
-o-animation-delay:0.65s;
animation-delay:0.65s;
}

#fountainG_3{
left:20px;
-moz-animation-delay:0.78s;
-webkit-animation-delay:0.78s;
-ms-animation-delay:0.78s;
-o-animation-delay:0.78s;
animation-delay:0.78s;
}

#fountainG_4{
left:30px;
-moz-animation-delay:0.91s;
-webkit-animation-delay:0.91s;
-ms-animation-delay:0.91s;
-o-animation-delay:0.91s;
animation-delay:0.91s;
}

#fountainG_5{
left:40px;
-moz-animation-delay:1.04s;
-webkit-animation-delay:1.04s;
-ms-animation-delay:1.04s;
-o-animation-delay:1.04s;
animation-delay:1.04s;
}

#fountainG_6{
left:50px;
-moz-animation-delay:1.17s;
-webkit-animation-delay:1.17s;
-ms-animation-delay:1.17s;
-o-animation-delay:1.17s;
animation-delay:1.17s;
}

#fountainG_7{
left:60px;
-moz-animation-delay:1.3s;
-webkit-animation-delay:1.3s;
-ms-animation-delay:1.3s;
-o-animation-delay:1.3s;
animation-delay:1.3s;
}

#fountainG_8{
left:70px;
-moz-animation-delay:1.43s;
-webkit-animation-delay:1.43s;
-ms-animation-delay:1.43s;
-o-animation-delay:1.43s;
animation-delay:1.43s;
}

@-moz-keyframes bounce_fountainG{
0%{
-moz-transform:scale(1);
background-color:#FFFFFF;
}

100%{
-moz-transform:scale(.3);
background-color:#000000;
}

}

@-webkit-keyframes bounce_fountainG{
0%{
-webkit-transform:scale(1);
background-color:#FFFFFF;
}

100%{
-webkit-transform:scale(.3);
background-color:#000000;
}

}

@-ms-keyframes bounce_fountainG{
0%{
-ms-transform:scale(1);
background-color:#FFFFFF;
}

100%{
-ms-transform:scale(.3);
background-color:#000000;
}

}

@-o-keyframes bounce_fountainG{
0%{
-o-transform:scale(1);
background-color:#FFFFFF;
}

100%{
-o-transform:scale(.3);
background-color:#000000;
}

}

@keyframes bounce_fountainG{
0%{
transform:scale(1);
background-color:#FFFFFF;
}

100%{
transform:scale(.3);
background-color:#000000;
}

} 