/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */ 
.ui-datepicker {
background-color: #fff;
border: 1px solid #66AFE9;
border-radius: 4px;
box-shadow: 0 0 8px rgba(102,175,233,.6);
display: none;
margin-top: 4px;
padding: 10px;
width: 240px;
z-index: 9999; 
}
.ui-datepicker a,
.ui-datepicker a:hover {
text-decoration: none;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
color: #2A6496;
-webkit-transition: color 0.1s ease-in-out;
-moz-transition: color 0.1s ease-in-out;
-o-transition: color 0.1s ease-in-out;
transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
margin-bottom: 4px;
text-align: center;
}
.ui-datepicker .ui-datepicker-title {
font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
cursor: default;
font-family: 'Glyphicons Halflings';
-webkit-font-smoothing: antialiased;
font-style: normal;
font-weight: normal;
height: 20px;
line-height: 1;
margin-top: 2px;
width: 30px;
}
.ui-datepicker .ui-datepicker-prev {
float: left;
text-align: left;
}
.ui-datepicker .ui-datepicker-next {
float: right;
text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
content: "\e079";
}
.ui-datepicker .ui-datepicker-next:before {
content: "\e080";
}
.ui-datepicker .ui-icon {
display: none;
}
.ui-datepicker .ui-datepicker-calendar {
table-layout: fixed;
width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
text-align: center;
padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
border-radius: 4px;
-webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
-moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
-o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
background-color: #eee;
cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
background-color: #4289cc;
}
.ui-datepicker .ui-datepicker-current-day a {
color: #fff
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
background-color: #fff;
cursor: default;
} 
.ui-datepicker-group
{
float: left;
width: 49%;
margin: 0 auto; 
} 
#car_drop_of_location
{
  display: none;   
}
.car-share-w4a .hidden
{
    display:none; 
}


/* ////////////////////////// CAR-PLUGIN CUSTOM STYLES ///////////////////// */


.car-share-w4a .car-block {
	margin-bottom: 2em;
}

.car-share-w4a table {
	margin: 0;
}

.car-share-w4a tr, .car-share-w4a th, .car-share-w4a td {
	vertical-align: middle;
}

.car-share-w4a td.img-holder {
	text-align: center;
	position: relative;
}

.car-share-w4a .car-title {
	text-align: center;
	margin: 0.5em 0;
}

.car-share-w4a .car-price {
	margin: 0;
	text-align: center;
	padding: 0.5em;
	background: #666;
	color: #fff;
}

.car-share-w4a .btn, .car-share-w4a button {
	text-transform: uppercase;
	font-size: 0.9em;
	padding: 0.8em 1.6em;	
	border: none;
	float: left;
	margin-right: 0.4em;
	line-height: 1.2em;
	display: inline-block;
	font-family: sans-serif;
	font-weight: bold;
}

.car-share-w4a .btn{ 
	
	background: #222;
	color: #fff;
	
}

.car-share-w4a .btn:hover {
	background: #666;
	color: #fff;
}

.car-share-w4a .btn.continue {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

.car-share-w4a .btn-secondary{ 
	color: #000;
	background: #eee;
}

.car-share-w4a .btn-secondary:hover {
	color: #000;
	background: #ddd;
}

/* FORMS */

.car-share-w4a label {
	display: block;
}

.car-share-w4a table, .car-share-w4a th, .car-share-w4a td {
	border-color: #ddd;
}

.car-share-w4a input[type="text"],
.car-share-w4a	input.hasdatepicker,
.car-share-w4a	input[type="email"],
.car-share-w4a	input[type="url"],
.car-share-w4a	input[type="password"],
.car-share-w4a	input[type="search"],
.car-share-w4a	textarea {
	padding: 0.45em;
	margin: 0;
		
	}

.car-share-w4a	select {
	padding: 0.4em;
	margin: 0;
	border: 1px solid #ddd;
	box-sizing: border-box;
	}

.car-share-w4a .form-group,  .car-share-w4a .control-group{
	margin-bottom: 0.5em;
}

 .car-share-w4a .control-group .help-block {
 	display: none;
 }

.car-share-w4a .search-for-car .form-group:last-of-type {
	margin-bottom: 1em;
}


.car-share-w4a .extras-row {
	display: table;
	border: 1px solid #ddd;
	width: 100%;
	padding: 20px;
	margin-top: -1px;
}

.car-share-w4a .extras-row:last-of-type {
	margin-bottom: 30px;
}

.car-share-w4a .extras-row h3 {
	margin: 0;
	display: table-cell;
	vertical-align: middle;
	
}

.car-share-w4a .extras-row .form-group {

	display: table-cell;

}


.car-share-w4a .extras-row .form-group:first-child {
	font-style: italic;
}

.car-share-w4a .extras-row .form-group:last-child {
	text-align: right;
}

.car-share-w4a.checkout label {
	display: none;
}

.car-share-w4a.checkout strong {
	display: block;
	margin: 20px 0;
}

.car-share-w4a.checkout .btn:last-of-type {
	margin-top: 10px;
}

.car-share-w4a.checkout table {
	margin-top: ;
}